.main-footer{
    background-color: #0C080A;
}
.footer-navigation{
    width: 30%;
    margin-top: 70px;
    margin-left: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-navigation li:first-child{
    width: 5%;
    margin: 10px 1%;
}

.footer-navigation li:nth-child(2){
    width: 5%;
    margin: 10px 1%;
}

.footer-navigation li:nth-child(3){
    width: 10%;
    margin: 10px 5%;
}

.footer-navigation li:last-child{
    width: 15%;
    margin: 10px 5%;
}

.footer-navigation li a{
    color: aliceblue;
    font-size: 1.5em;
    font-family: 'Saira Semi Condensed', sans-serif;
}

.footer-navigation li a img{
    width: 80%;
}