.web-body{
    width: 100%;
}

#home-body{
    margin-top: 100px;
    padding-top: 100px;
    height: 500px;
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color:#693D3E;
}

#web-start{
    width: 60%;
}

#web-start-heading{
    padding-top: 50px;
    font-family: 'Saira Semi Condensed', sans-serif;
    font-size: 3em;
}

#web-start-begin-button{
    padding-top: 60px;
    position: relative;
    font-family: 'Roboto Slab', serif;
    font-size: 2em;
    z-index: 100;
}



#web-start-begin-button a{
    border-radius: 10px;
    padding: 10px 15px;
    background-color: #0C080A;
    color: aliceblue;
    border-width: 3px;
    border-color: #0C080A;
    border-style: solid;
}

#web-start-begin-button a:hover{
    border-radius: 10px;
    padding: 10px 15px;
    background-color: aliceblue;
    color: #0C080A;
    border-width: 3px;
    border-color: #0C080A;
    border-style: solid;
}

#web-start-begin-button:active{
    transform: scale(0.95,0.95);
}

#start-image{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    margin-left: -60%;
    margin-top: 150px;
    margin-bottom: 150px;
}

#start-image hr{
    height: 3px;
    background-color:#ffffff;
    border: 0px;
    border-radius: 25px;
}

#start-image hr:first-child{
    width: 70%;
}

#start-image hr:last-child{
    width: 20%;
    margin-left: -1.3%;
}

#start-image img{
    width: 17%;
    margin-left: -6.2%;
}