.section-seperate{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section-seperate hr{
    width: 47%;
    height: 5px;
    background-color: #0C080A;
    border: 0px;
    border-radius: 25px;
}

.section-seperate a{
    width: 6%;
}

.section-seperate a img{
    width: 70%;
    margin-left: 15%;
}
